
#parse("common/header.html")
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 risk-manager">
        	<ol class="breadcrumb">
        		<li class="active"><a href="help">帮助</a></li>
        	</ol>
        	<h3>项目逻辑结构 说明</h3>
            <ul contenteditable="true">
            	<li>主体结构：【项目管理】->【各个项目内的风险计划管理】->【各个计划的风险条目管理】->【各个风险条目的状态管理】</li>
            	<li>其他结构：【风险管理】和【项目人员管理】</li>
            <br/>
            </ul>
            <h3>项目人员管理 说明</h3>
            <ul contenteditable="true">
            	<li>项目经理可以在【项目管理】页面看到所有项目，开发人员必须由项目经理把他加入到项目以后才能看到项目</li>
            	<li>【项目人员管理】按钮在【风险计划管理】页面</li>
            	
            </ul>
            <br/>
            <h3>风险管理 vs 风险计划管理 vs 风险计划中的风险条目</h3>
            <ul contenteditable="true">
            	
            	<li>【风险管理】页面负责风险种类和内容的增删改查</li>
            	<li>【风险计划管理】负责风险计划的增删改查</li>
            	<li>【风险计划中的风险条目】中新增的风险条目需要从【风险管理】中添加的这些风险里选择</li>
            	<li>【风险计划中的风险条目】中新增的风险条目可以导入</li>
            
            </ul>
            
        </div>
    	<br>
    </div>
</div>




#parse("common/footer.html")
</body>
</html>