#parse("common/header.html")

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 risk-manager">
        	
      		<h2>风险管理</h2>
            <div>
        	<button class="btn btn-default pull-right"
        		data-toggle="modal" data-target="#edit">添加风险</button>
    		</div>
            <table class="table waiter-list">
                <thead>
                <tr>
                    <th>风险类型</th>
                    <th>风险内容</th>
                    
                </tr>
                </thead>
                #foreach($risk in $riskList)
                <tr>
                	
                	<td>$!{risk.type}</td>
                	<td>$!{risk.content}</td>
                    
                    <td>
                    	<button type="button" onclick='deleteRisk($!{risk.id})'
                    		class="btn btn-warning pull-right fa fa-trash"></button>
                    	<button type="button" onclick='updateRisk($!{risk.id})'
                    		class="btn btn-warning pull-right fa fa-wrench"
                    		data-toggle="modal" data-target="#edit"></button>
                    </td>
                </tr>
				#end
                <tbody>
                </tbody>
            </table>
        </div>
    	<br>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel_1">
                    	编辑风险条目
                </h4>
            </div>
            <form class="form-horizontal" role="form" >
                <div class="modal-body">
                	<div class="form-group">
                        <label for="type" class="col-sm-2 control-label">风险类型:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="type"
                                   placeholder="请输入名称" name="type">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-2 control-label">风险内容:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="content"
                            	style="height:80px" placeholder="请输入内容" name="content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="clear_all()" class="btn btn-default"
                            data-dismiss="modal">
                        	取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="edit()">
                       	    确认
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
var operation;
var riskId;

function clear_all() {
	$("#type").val('');
    $("#content").val('');
    
}

function deleteRisk(id){
	$.post('deleteRiskById',{riskId : id}, function (r) {
		   alert(r);
		   location.replace(location.href);
	});
   
}

function updateRisk(id) {
	riskId = id;
	   operation = "update";
	   $.get('getRiskById', {riskId : id}, function (r) {
			$('#type').val(r.type);
	    	$("#content").val(r.content);
	});
}

function edit() {
    var msg = "";
    var param = {};
    var valid = true;
    if ($("#type").val().length == 0) {
        msg = "请输入风险类型!";
        alert(msg);
        valid = false;
    }
    if ($("#content").val().length == 0) {
        msg = "请输入风险内容!";
        alert(msg);
        valid = false;
    }
    
    if(valid) {
    	if(operation == 'update') {
    		param.riskId = riskId;
    	}
    	param.type = $("#type").val();
    	param.content = $("#content").val();
    	
	   $.post('editRisk', param, function (r) {
			alert(r);
			location.replace(location.href);
		});
	}	
}
</script>

#parse("common/footer.html")

</body>
</html>


